{
    "arrowParens": "always",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "printWidth": 110,
    "proseWrap": "never",
    "singleQuote": true,
    "trailingComma": "none",
    "tabWidth": 4
}
