.historyDetails {
	cursor: pointer;
}

.versionControl {
	padding: 1em 2em;
	box-shadow: var(--ifm-global-shadow-lw);
	border-radius: var(--ifm-global-radius);
}

.faButton {
	margin-left: 1em;
}

.faButton:hover {
	transform: scale(1.2);
}

.diffViewer {
	--ifm-pre-background: rgba(255, 255, 255, 0);
	--ifm-alert-background-color: rgba(255, 255, 255, 0);
	--ifm-alert-background-color-highlight: rgba(255, 255, 255, 0);
	--ifm-table-stripe-background: rgba(255, 255, 255, 0);
	font-family: monospace;
	overflow: auto;
}

.diffViewer table tbody tr td {
	padding-top: 0;
	padding-bottom: 0;
}

.diffViewer table tbody tr td pre {
	white-space: nowrap;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 18px;
}